body {
    background-color: #111;
    
}
.dangnhap{

    width: 500px;
    height: 460px;
    border: 5px solid orangered;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-left: 500px;
    background-color: grey;
    
}
h2{
    font-family: sans-serif;
    color:limegreen;
}
#username{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
#username:hover{
    transform: scale(1.25);
}
#password{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
#password:hover {
    transform: scale(1.25);
}
i {
    color:black;
}
