body {
    background-color:white;
}
.dangki{

    width: 500px;
    height: 450px;
    border: 5px solid grey;
    border-radius: 10px;
    text-align: center;
    margin-left: 500px;
    background-color: cornflowerblue;
    
}
h2{
    font-family: sans-serif;
    color:grey;
}
#username1{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
#username1:hover{
    transform: scale(1.25);
}
#password1{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
#password1:hover {
    transform: scale(1.25);
}
#password2{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
}
#password2:hover{
    transform: scale(1.25);
}
#email1{
    transition: all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    height: 50px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}
#email1:hover{
    transform: scale(1.25);
}



#button2 {
    transition: all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s

}
#button2:hover{
    transform: rotate(1turn);
}
